<style>
    body{
        background-color: bisque;
        color: black;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align:center; 
    }
    h5{
        text-align:center;
    }
    a{
        color:aqua
    }
    a:visited{
        color:darkgray
    }
    img{
        border:200px solid black;
        padding: 10px;
        margin: 20px;
    }
    .rizz{
        font-family: chiller, 'Comic Sans';
        color: fuchsia
        background-color: lime;
        border: dashed orange 5px;
        font-size: larger;
        font-style:italic;
    }
    .rizz.hover{
        font-family: cursive, 'Times New Roman
        border: dashed green 10px;
    }
</style>

































































